<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de Venta</title>
</head>
<body>
    <h1>Detalles de la Venta</h1>
    <p>ID de Venta: <%= venta.idPedido %></p>
    <p>Método de Pago: <%= venta.metodoPago %></p>
    <p>Nombre del Producto: <%= venta.nombreProducto %></p>
    <p>Estado del Pedido: <%= venta.estadoPedido %></p>
    <p>Fecha del Pedido: <%= venta.fechaPedido %></p>
    <p>Fecha de Venta del Pedido: <%= venta.fechaVentaPedido %></p>
    <p>Precio Total del Pedido: <%= venta.precioTotalPedido %></p>
    <p>Cantidad de Producto: <%= venta.cantidadProducto %></p>
    <p>Precio Unitario: <%= venta.precioUnitario %></p>
    <!-- Agrega más detalles según tus necesidades -->

    <!-- Puedes agregar enlaces o botones para volver a la lista de ventas u otras acciones -->
    <a href="/ventas">Volver a la lista de ventas</a>
</body>
</html>
